@import 'sass/Utils/variables';
@import 'sass/Utils/mixins';


*{
    box-sizing: border-box;
}

body {
   margin: 0 auto;
   font-family: $font-text;
}

// HEADER //
header {
    @include header;
    }

.total__qty {
    margin-right: 10px;
    color: blueviolet;
    }



// MENU //
.menu {
    position: relative;
    z-index: 98;
    top: 125px;
    width: 100%;
    background-color: #ffff;
  
    @include breakpoint (laptop) {
     position: fixed;
     top: 18px;
     z-index: 99;
     background-color: transparent;
     }
  
     &__wrapper {
      width: 100%;
     }
  
     &__content {
        width: 100%;
        margin: auto;
     } 
  
     &__buttons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 25px;
      padding-left: 0px;
      margin-top: 45px;
      margin-bottom: 30px;
      width: 100%;
      list-style-type: none;
      // Start counter //
      counter-reset: list;
    //..........................................
    @include breakpoint (laptop) {
  
    justify-content: flex-end;
    //   gap: 15px;
    margin-top: 26px;
    margin-bottom: 55px;
     }
     }
  
     li:hover {
      filter: drop-shadow(10px 12px 10px #0800002e);
     }
  
     li {
      // Increment counter on each list item //
      counter-increment: list;
      @include Drop-shadow-pour-btn-de-selection;
      transition: all 1s;
     }
  
      //Home icon//
     .fa-shopping-cart {
      @include icon-btn-fonctionnement-std;
      transition: all 1s;
  
         @include breakpoint (laptop) {
           padding: 10px 3px 11px 10px;
  
          }
     }
  
      //Home button text//
     &__home {
      @include btn-fonctionnement-std;    
      transition: all 1s;
  
         @include breakpoint (laptop) {
           padding: 9px 15px 9px 10px;
  
           }
     }
  
      //Produits icon//
     .fa-list-ul {
      @include icon-btn-fonctionnement-std;
      transition: all 1s;
  
         @include breakpoint (laptop) {
           padding: 10px 0px 11px 10px;
           }
     }
  
      //Produits button text//
     &__produits {
      @include btn-fonctionnement-std;
      transition: all 1s;
  
      @include breakpoint (laptop) {
        padding: 9px 15px 9px 10px;
        }
     }
  
      //Panier icon
     .fa-store {
      @include icon-btn-fonctionnement-std;
      transition: all 1s;
  
         @include breakpoint (laptop) {
           padding: 10px 0px 11px 10px;
  
           }
     }
  
      //Panier button text//
     &__panier {
      @include btn-fonctionnement-std;
      transition: all 1s;
  
      @include breakpoint (laptop) {
        padding: 9px 15px 9px 0px;
  
        }
     }
  
      // HOME HOVER //
     .fa-shopping-cart:hover {
      background-color: $title-bkgnd-color;
      color: $primary-color;
     }
  
     li:hover .menu__home {
      background-color: $title-bkgnd-color;
     }
   
     .menu__home:hover {
      background-color: $title-bkgnd-color;
     }
  
     li:hover .fa-shopping-cart {
      background-color: $title-bkgnd-color;
      color: $primary-color;
     }
  
      // PRODUITS HOVER //
     .fa-list-ul:hover {
      background-color: $title-bkgnd-color;
      color: #9356DC;
     }
  
     li:hover .menu__produits {
      background-color: $title-bkgnd-color;
     }
  
     .menu__produits:hover {
      background-color: $title-bkgnd-color;
     }
  
     li:hover .fa-list-ul {
      background-color: $title-bkgnd-color;
      color: $primary-color;
     }
  
      // PANIER HOVER //
     .fa-store:hover {
      background-color: $title-bkgnd-color;
      color: $primary-color;
     }
  
     li:hover .menu__panier {
      background-color: $title-bkgnd-color;
     }
     
     .menu__panier:hover {
      background-color: $title-bkgnd-color;
     }
  
     li:hover .fa-store {
      background-color: $title-bkgnd-color;
      color: $primary-color;
     }
  
  }


// PRODUITS LISTING ////////
.produit__card {
 margin-top: 200px;
 width: 100%;

}

.produit__card__wrapper {
    width: 100%;  

}

.produit__card__content {
    width: 100%;
    margin: auto;

    @include breakpoint (laptop) {
       display: flex;
       justify-content: center;
       align-content: center;
       gap: 25px;
        
        }
}

.container_text {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20%;

    @include breakpoint (laptop) {
        width: 500px;
         margin-top: 40px;
         }
}


.productImg {
    object-fit: scale-down;
    width: 100%;
    height: 300px;

    @include breakpoint (laptop) {
        object-fit: cover;
        width: 400px;
        height: 400px;
         margin-bottom: 20%;
         }
}

#product_color {
    margin-top: 30px;
}

#addToCart {
    background-color: #f6f6f6;
    @include Drop-shadow-pour-btn-de-selection;
    transition: all 1s;
    margin-top: 30px;
    padding: 15px 15px 15px 15px;
    border-radius: 20px;
    border: solid 1px #dddcdc;

}

#addToCart:hover {
   
    background-color: $title-bkgnd-color;
 
}

.produit {
margin-top: 200px;
margin-bottom: 150px;

.namePriceCombo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.VoirProduit {
    display: block;
    // margin: 0 auto;
    text-align: center;
    margin: 0px 0px 20px 0px;
    margin-left: 33%;
    margin-right: 33%;
    width: 33%;
}

// #produit__list--template, #camera__list--template, #meuble__list--template {
// background-color: #f6f6f6;
// width: 330px;
// margin: auto;
// }

#produit__list--post, #camera__list--post, #meuble__list--post {
display: block;
margin: 0 auto;
width: 100%;
// width: 310px;
@include breakpoint (laptop) {
width: 510px;

}

}




.blockProduct {
    padding: 10px 10px 10px 10px;
    background-color: #f6f6f6;
    border-radius: 15px;
    margin-bottom: 30px;
    @include breakpoint (laptop) {


      }
}

.produit_img {
    object-fit: cover;
    height: 393px;
    width: 100%;
    @include breakpoint (laptop) {
        height: 393px;
        width: 490px;

        
        }
}

.produit__img_container {
    height: 429px;
    width: 100%;
    @include breakpoint (laptop) {
        height: 429px;
        width: 510px;
        
        }
        
}




.produit__wrapper, .camera__wrapper, .meuble__wrapper {
  width: 100%;
  padding-top: 32px;
  max-width: 1224px;
  margin: auto;

  @include breakpoint (laptop) {
    background-color: transparent;
    }

    .produit__content, .camera__content, .meuble__content {
       width: 90%;
       margin: auto;

       // Tablet portrait & Desktop ////////////////////////////
       @include breakpoint (laptop) {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: space-evenly;
       align-content: baseline;
    }
    }
    
    //PRODUCT PAGES TITLES//

    .produit__title-and-heart-bloc--palette { 
        @include menu__title-and-heart-bloc;
        
        .heart_inline--palette {  
           left: 91%;  
        }

         // Tablet portrait & Desktop ////////////////////////////
        @include breakpoint (laptop) {

        .heart_inline--palette {  
           left: -4%;  
        }
    }
    }

    .produit__title-and-heart-bloc--enchantee { 
        @include menu__title-and-heart-bloc;

        .heart_inline--enchantee {  
           left: 92%;  
        }

        // Tablet portrait & Desktop ////////////////////////////
        @include breakpoint (laptop) {
            
        .heart_inline--enchantee {  
            left: -4%;
        }
        }  
    }

    .produit__title-and-heart-bloc--francaise { 
        @include menu__title-and-heart-bloc;

        .heart_inline--francaise {  
            left: 92%;  
        }

        // Tablet portrait & Desktop ////////////////////////////
        @include breakpoint (laptop) {

        .heart_inline--francaise {  
            left: -4%;  
        }
        }  
    }

    .produit__title-and-heart-bloc--delice { 
        @include menu__title-and-heart-bloc;

        .heart_inline--delice {  
           left: 92%;  
        }

         // Tablet portrait & Desktop ////////////////////////////
        @include breakpoint (laptop) {

        .heart_inline--delice {  
            left: -4%; 
        }
        }  
    }


    // MENU CONTENT BLOCKS //

    .produit__content__bloc, .camera__content__bloc, .meuble__content__bloc {
         // Tablet portrait & Desktop ////////////////////////////
        @include breakpoint (laptop) {
           width: 530px;     
        } 
    }

    .produit__content__list, .camera__content__list, .meuble__content__list { 
        @include menu_content_list;
        // Tablet portrait & Desktop ////////////////////////////
        @include breakpoint (laptop) {
           justify-self: flex-start;
           width: 100%;
           margin-top: 30px;  
        } 
    }

    //  PRODUITS-DESCRIPTIONS //

    .produit__title, .camera__title, .meuble__title { 
        @include menu_titles;
    }

    // .produit__desc, .camera__desc, .meuble__desc { 
    //     @include menu_descriptions;
    // }

    .produit__desc p, .camera__desc p, .meuble__desc p { 
        margin: 3px;
    }

    .produit__desc a, .camera__desc a, .meuble__desc a { 
        text-decoration: none; 
        color: black;
    }

    .produit__price-bloc, .camera__price-bloc, .meuble__price-bloc { 
        @include menu_prices;
    }

    // .produit__list--post {
    // @include breakpoint (laptop) {
    //     display: flex;
    //     flex-direction: row;
    //            flex-wrap: wrap;
    //    justify-content: space-evenly;
    //    align-content: baseline;
    //   }
    // }

}
}

    
// FOOTER //
footer {
    @include footer;
    
    // Tablet portrait & Desktop ////////////////////////////
     @include breakpoint (laptop) {
    
        .footer__main {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: baseline;
        // padding-left: 0;
       }

     }

     @include breakpoint (laptop) {
        position: fixed;
        width: 100%;
        bottom: 0px;
     }



  }



