* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

header {
  background-color: #f3e9f1;
  padding: 10px 0px 16px 0px;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 99;
  -webkit-box-shadow: 0px 6px 9px -5px #999999;
  box-shadow: 0px 6px 9px -5px #999999;
  margin-left: 0px;
}

header .header__logo {
  display: block;
  margin-left: 5px;
}

@media screen and (min-width: 768px) {
  header .header__logo {
    margin-left: 30px;
  }
}

.menu {
  position: relative;
  z-index: 98;
  top: 125px;
  width: 100%;
  background-color: #ffff;
}

@media screen and (min-width: 768px) {
  .menu {
    position: fixed;
    top: 18px;
    z-index: 99;
    background-color: transparent;
  }
}

.menu__wrapper {
  width: 100%;
}

.menu__content {
  width: 100%;
}

.menu .introduction {
  text-align: center;
  z-index: 101;
}

.menu__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 25px;
  padding-left: 0px;
  margin-top: 45px;
  margin-bottom: 30px;
  width: 100%;
  list-style-type: none;
  counter-reset: list;
}

@media screen and (min-width: 768px) {
  .menu__buttons {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 55px;
  }
}

.menu li:hover {
  -webkit-filter: drop-shadow(10px 12px 10px #0800002e);
          filter: drop-shadow(10px 12px 10px #0800002e);
}

.menu li {
  counter-increment: list;
  -webkit-filter: drop-shadow(0px 3px 6px #4444442e);
          filter: drop-shadow(0px 3px 6px #4444442e);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.menu .fa-shopping-cart {
  color: #7e7e7e;
  border: 0px;
  background-color: #f6f6f6;
  border-radius: 20px 0px 0px 20px;
  padding: 6px 10px 7px 25px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media screen and (min-width: 768px) {
  .menu .fa-shopping-cart {
    padding: 21px 10px 22px 25px;
  }
}

.menu__home {
  text-decoration: none;
  color: black;
  font-weight: 600;
  border: 0px;
  background-color: #f6f6f6;
  border-radius: 0px 20px 20px 0px;
  padding: 5px 55px 5px 10px;
  margin-left: -3%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media screen and (min-width: 768px) {
  .menu__home {
    padding: 20px 55px 20px 10px;
  }
}

.menu .fa-list-ul {
  color: #7e7e7e;
  border: 0px;
  background-color: #f6f6f6;
  border-radius: 20px 0px 0px 20px;
  padding: 6px 10px 7px 25px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media screen and (min-width: 768px) {
  .menu .fa-list-ul {
    padding: 21px 10px 22px 25px;
  }
}

.menu__produits {
  text-decoration: none;
  color: black;
  font-weight: 600;
  border: 0px;
  background-color: #f6f6f6;
  border-radius: 0px 20px 20px 0px;
  padding: 5px 55px 5px 10px;
  margin-left: -3%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media screen and (min-width: 768px) {
  .menu__produits {
    padding: 20px 55px 20px 10px;
  }
}

.menu .fa-store {
  color: #7e7e7e;
  border: 0px;
  background-color: #f6f6f6;
  border-radius: 20px 0px 0px 20px;
  padding: 6px 10px 7px 25px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media screen and (min-width: 768px) {
  .menu .fa-store {
    padding: 21px 10px 22px 25px;
  }
}

.menu__panier {
  text-decoration: none;
  color: black;
  font-weight: 600;
  border: 0px;
  background-color: #f6f6f6;
  border-radius: 0px 20px 20px 0px;
  padding: 5px 55px 5px 10px;
  margin-left: -3%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media screen and (min-width: 768px) {
  .menu__panier {
    padding: 20px 55px 20px 10px;
  }
}

.menu .fa-shopping-cart:hover {
  background-color: #f3e9f1;
  color: #9557e0;
}

.menu li:hover .menu__home {
  background-color: #f3e9f1;
}

.menu .menu__home:hover {
  background-color: #f3e9f1;
}

.menu li:hover .fa-shopping-cart {
  background-color: #f3e9f1;
  color: #9557e0;
}

.menu .fa-list-ul:hover {
  background-color: #f3e9f1;
  color: #9356DC;
}

.menu li:hover .menu__produits {
  background-color: #f3e9f1;
}

.menu .menu__produits:hover {
  background-color: #f3e9f1;
}

.menu li:hover .fa-list-ul {
  background-color: #f3e9f1;
  color: #9557e0;
}

.menu .fa-store:hover {
  background-color: #f3e9f1;
  color: #9557e0;
}

.menu li:hover .menu__panier {
  background-color: #f3e9f1;
}

.menu .menu__panier:hover {
  background-color: #f3e9f1;
}

.menu li:hover .fa-store {
  background-color: #f3e9f1;
  color: #9557e0;
}

.container,
.container--state_zip,
.container--exp_cvv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -5px;
  margin-top: 0px;
}

.container {
  max-width: 1224px;
  margin: auto;
  margin-top: 150px;
}

.text_cart {
  margin-left: 0px;
  margin-bottom: 30px;
}

.container__wrapper--cart,
.container__wrapper--block_pmt,
.container__content--state,
.container__content--zip,
.container__content--exp,
.container__content--cvv {
  padding: 0 26px;
}

@media screen and (min-width: 768px) {
  .container__wrapper--cart,
  .container__wrapper--block_pmt {
    padding: 0 100px;
  }
}

.container__content--billing,
.container__content--payment {
  padding-left: 0px;
  padding-right: 24px;
}

.container__wrapper--cart {
  margin-bottom: 20px;
}

.container__wrapper--forms,
.container__content--cart {
  background-color: #dddcdc;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.container__wrapper--forms {
  margin-bottom: 20px;
  margin-bottom: 180px;
  padding-bottom: 40px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.fa-cc-visa {
  color: navy;
}

.fa-cc-amex {
  color: blue;
}

.fa-cc-mastercard {
  color: red;
}

.fa-cc-discover {
  color: orange;
}

.btn {
  background-color: #f6f6f6;
  color: #9557e0;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #c4c3c3;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  font-size: 17px;
  -webkit-filter: drop-shadow(0px 2px 5px #0800002e);
          filter: drop-shadow(0px 2px 5px #0800002e);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.btn:hover {
  background-color: #f3e9f1;
}

.product_name {
  text-decoration: none;
}

.price_qty,
.price_total {
  color: black;
  float: right;
}

span.price {
  float: right;
  color: grey;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
  .container__wrapper--cart {
    margin-bottom: 20px;
  }
  .container__wrapper--forms {
    margin-bottom: 20px;
  }
}

footer .footer__wrapper {
  padding: 25px 0;
  background-color: #f3e9f1;
}

footer .footer__wrapper .footer__content {
  width: 100%;
}

footer .footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  color: black;
  line-height: 0;
}

footer .footer__main .footer__utensils,
footer .footer__main .footer__hands-helping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

footer .footer__main .footer__contact {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 768px) {
  footer .footer__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
  }
}
/*# sourceMappingURL=style-cart.css.map */