$font-logo-and-titles: 'Shrikhand', cursive;
$font-text: 'Roboto', sans-serif;
$title-bkgnd-color: #f3e9f1;
$location-band-color: #eaeaea;
$primary-bkgnd-color: #f6f6f6;
$primary-color: #9557e0;
// $primary-color: #9356DC;
$secondary-color: #FF79DA;
$footer-bkgnd-color: #353535;

$linear-gradient: linear-gradient(to bottom, #FF79DA 0%, #FF79DA 46%, #9356DC 100%);